<div class="row">
  <div class="pure-form">
    {{#if waitingForInput}}
      <h3>&downdownarrows; Enter infos &downdownarrows;</h3>
    {{else}}
      <h1>{{getConversion}}</h1>
    {{/if}}
    <div class="convert-form span5">
      {{view Ember.TextField valueBinding="amount" class="span4" type="number"}}

      {{view Ember.Select contentBinding="currencies" valueBinding="currencyFrom" prompt="Original" class="span2"}}
      {{view Ember.Select contentBinding="currencies" valueBinding="currencyTo" prompt="Converted" class="span2"}}

      <button class="pure-button pure-button-xsmall pure-button-primary" {{action 'convert'}}>Convert</button>
    </div>
    {{#unless waitingForInput}}
      {{render chart}}
    {{/unless}}
  </div>

</div>